<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Submissions</title>
</head>
<body>
    
    <h1>All Submissions</h1>    
        <% for(let submission of submissions) { %>
            <div>
                <p><b>Description: </b><a href="/submissions/<%=submission.id%>"><%=submission.description%></a> - Project: <%=submission.project%></p>
            </div>
        <% } %>
    

    <a href="/timesheets/<%=submission._id%>/submissions/new">New Submission</a>
    
</body>
</html>

