<% layout('layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-12 ">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%=err.message%></h4>                
              </div>
        </div>
    </div>    
</body>