<% layout('layouts/boilerplate') %>
<body>
    <div class="container mt-5 ">
        <div class="row d-flex justify-content-center">
            <div >
                <div class="col-12 ">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading"><%=err.message%></h4>                
                    </div>
                </div>
            </div> 
        </div>
    </div>       
</body>