body {
    /* background-color: rgb(37, 37, 38); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../images/bg-img.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;    
}

.navbar {
    max-width: 60vw;
}

.title {
    color: white;
    width: auto;
}

.cover-container {
    max-width: 60vw;
}

.main-container {
    display: flex;
    flex-direction: column;

    /* background-color: rgb(37, 37, 38); */
}

.nav-link {
    padding:0.25rem 0;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.1rem solid transparent;
}

.nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);;
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}