<% layout('layouts/boilerplate') %>
<div class="d-flex justify-contents-center">
    <div>
        <h3>Download Timesheet</h3>
    </div>
    
    <div>
        <a href="<%=filePath %>" class="btn btn-warning" download>Download</a>
    </div>
</div>

