<% layout('layouts/boilerplate') %>
<div class="d-flex justify-contents-center">
    <div>
        <h3>Download Timesheet</h3>
    </div>
    
    <div>
        <a href="../../docs/<%=timesheet.owner.username%>_<%=timesheet.month%>_<%=timesheet.year%>.xlsx" class="btn btn-warning" download>Download</a>
    </div>
</div>

