<% layout('layouts/boilerplate') %>
<body >
    <div class="row d-flex justify-content-center text-center">
        <h1>All Timesheets</h1>
        <% for(let timesheet of timesheets) { %>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title"><%=timesheet.month%></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/timesheets/<%=timesheet._id%>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        <% } %>
        <form action="/timesheets" method="POST">
            <button class="btn btn-success">New Timesheet</button>
        </form>
    </div>
    
</body>



