<% layout('layouts/boilerplate') %>
<body>
    
    <h1>All Timesheets</h1>    
        <% for(let timesheet of timesheets) { %>
            <div>
                <p><a href="/timesheets/<%=timesheet._id%>"><%=timesheet.month%></a></p>
            </div>
        <% } %>
    
    <form action="/timesheets" method="POST">
        <button>New Timesheet</button>
    </form>
    
    
</body>

