<% layout('layouts/boilerplate') %>
<body>
    
    <h1>All Submissions</h1>
    <ul>
        <% for(let submission in submissions) { %>
            <div>
                <li> Day: <%= submission.date%> </li>
                <li> <%=submission.description%> </li>
            </div>
        <% } %>
    </ul>

    <a href="/submissions/new">New Submission</a>
</body>

