<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Submission</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input class="form-control" type="text" name="submission[description]" id="description" required>
                <!-- <div class="valid-feedback">
                    Looks Good!
                </div> -->
            </div>
            
            <div class="mb-3">
                <button class="btn btn-success">Submit</button>
            </div>            
        </form>
        <a href="/submissions"><- Back</a>
</div>